/* style.css
 * style for z1
 */
html {
  height : 100%;
  font-family : Helvetica, sans-serif;
}
body {
  display : flex;
  height : 100%;
}
a {
  text-decoration : none;
  color : inherit;
}
ul {
  list-style : none;
}
h1 {
  font-size : 2em;
  border-width : 0 0 3px 0;
  border-style : solid;
  padding : 0 0 1em 1em;
}
h1 img {
  margin : 0 .5em 0 0;
  height : 1em;
  object-fit : fill;
}
#leftPanel {
  background-color : #333b46;
  color : #b8bbbf;
  flex : 1;
  height : 100%;
}
#leftPanel ul, #leftPanel h1 {
  border-color : #282e38;
}
#leftPanel li:first-of-type {
  margin : -1em 0 0 0;
}
#leftPanel li {
  border-width : 0 0 2px 0;
  border-color : inherit;
  border-style : solid;
  width : 100%;
  padding : 1em 0 1em 0;
}
#leftPanel li img {
  width : 1.2em;
  height : 1.2em;
}
#leftPanel a span {
  font-weight : bold;
  font-size : 1.2em;
  padding : 0 0 0 .8em;
  display : block-inline;
}
.classrooms {
  flex : 5;
  display : flex;
  flex-flow : row nowrap;
  height : 100%;
}
.itemListing {
  background-color : #447cac;
  flex : 1;
  color : white;
  border-color : #3a72a5;
}
.itemListing * {
  border-color : inherit;
}
.smallText {
  color : #73afca;
  font-size : .7em;
  font-weight : bold;
}
.small {
  display : block;
  text-align : right;
  border-color : inherit;
  border-style : none none solid none;
  margin-top : -1.2em;
  padding : 0 0 .8em 0;
}
.itemListing a img {
  width : 1em;
  height : 1em;
  margin : 0 2em 0 1em;
}
.itemListing div {
  border-style : none none solid none;
  padding : 1em 1em 1em 2em;
  margin-top : -1.1em;
}
.itemListing div > p {
  font-weight : bold;
  margin-bottom : -.25em;
}
.itemListing div p + p {
  margin-top : .5em;
}
.updateClassroom {
  flex : 4;
}
