html {
    box-sizing : border-box;
    font-family : Helvetica, sans-serif;
    height : 100%;
}
* {
    box-sizing : inherit;
    border-color : inherit;
}
body {
    height : 100%;
    margin : 0;
}
a {
    text-decoration : none;
    color : inherit;
}
p {
    margin : 0;
    padding : 0;
}
img {
    width : auto;
}
ul {
    margin : 0;
    padding-left : 2em;
}
.thin-bottom-border {
    border-width : 0 0 1px 0;
    border-style : solid;
}
li {
    list-style : none;
    border-width : 0 0 1px 0;
    border-style : solid;
    line-height : 3em;
}
li span {
    vertical-align : center;
    font-weight : bold;
    font-size : 14px;
}
.container {
    display : flex;
    flex-flow : row nowrap;
    border-color : black;
    height : 100%;
}
.panel {
    display : flex;
    flex-flow : column nowrap;
    width : 300px;
}
.panel-header {
    font-size : 1.7em;
    border-style : solid;
    border-width : 0 0 2px 0;
    padding : .3em .3em .3em 1em;
}
#left-panel {
    background-color : #333b46;
    color : #b8bbbf;
    border-color : #282e38;
}
.left-panel-header-img {
    margin : 0 .3em 0 0;
    height : 1em;
}
.left-panel-list-img {
    margin : 0 1em 0 0;
    height : 1.2em;
}
#mid-panel {
    background-color : #447cac;
    color : white;
    border-color : #3a72a5;
}
.mid-small { 
    font-size : 8px;
    color : #73b4cc;
}
.mid-item {
    font-weight : bold;
    font-size : 12px;
    padding : 1em 0 1em 2em;
}
#mid-order-link {
    text-align : right;
    line-height : 2em;
}
#order-arrow {
    height : .8em;
    margin : .5em;
}
#schedule-form {
    width : 100%;
}
#schedule-form-header {
    color : #666666;
    font-size : 2.5em;
    padding : 1.2em 0 1em 1em;
    width : 100%;
    padding : 1em;
    display : flex;
    flex-flow : row nowrap;
    justify-content : space-between;
/*    border : 10px solid blue;*/
}
#schedule-form-header  span {
    flex : 1 1 400px;
}
.spremi-button {
    flex : 0 1 auto;
    background-color : #f04848;
    color : white;
    font-weight : bold;
    height : 2.2em;
    width : 6em;
    border : 0;
    border-radius : 5px;
}
.table-holder {
    padding : 2em;
}
.date-table {
    width : 100%;
    table-layout : auto;
    background-color : #f2f2f2;
    border-color : #dedede;
    border-style : solid none solid none;
    border-width : 1px;
    padding : 0 2em .5em 2em;
}
.date-table:first-of-type {
    border-bottom : 0;
}
.date-table th {
    width : 33%;
    text-align : start;
    font-size : 10px;
    color : #dedede;
}
.date-table td {
    width : 33%;
    color : #666666;
    font-size : 12px;
    font-weight : bold;
}
#inventory-table {
    width : 100%;
    border-collapse : collapse;
    padding : 0 2em .5em 2em;
}
#inventory-table tr {
    border-color : #eaeaea;
    border-style : none none solid none;
    border-width : 1px;
    height : 3em;
}
#inventory-table th {
    color : #bcbcbc;
    font-size : 10px;
    text-align : left;
}
#inventory-table th:first-of-type {
    width : 35%;
}
#inventory-table td {
    color : #66667f;
    font-size : 12px;
}
#inventory-table td:first-of-type {
    padding-left : 1em;
}
#inventory-table img {
    height : 16px;
    width : auto;
}
.test {
    font-size : 2em;
    background-color : #808;
    border : 10px dashed black;
}
